<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/styles.css">
    <title>Papybot</title>


    
 
<script src="/static/js/index.js"> 
</script>

</head>


    <body>
      <div id="titrte">
        <h1>Papybot</h1>
      </div>
      

      
      <div id="entrée">
             
              <input  type="text" name="user_question" size="40" id="user_question" placeholder="Que voulez-vous savoir ?">
              <button onclick="soumettre()">question </button>
      </div>       
       <div id="data">
          <h1>la reponse</h1> 
       </div>
    </body>
</html>