<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Papybot</title>

</script>
    
    <style type="text/css">

    /* Always set the map height explicitly to define the size of the div
    * element that contains the map. */
    #map {
        height: 400px;
        width: 400px;
    }

    /* Optional: Makes the sample page fill the window. */
    html,
    
    </style>
<script src="/static/js/index.js"> 
</script>
<link rel="stylesheet" href="css/styles.css">
</head>


    <body>
        <section class="question">
          <input type="text" style = "width: 400px;height:20px";id=" ville"; placeholder="De quel endroit voulez-vous que je vous parle" minlength="2">
          <button>Valider</button><br>
        
   </section>   
    </body>
</html>